name: Validate & Publish

on:
  push:
    tags: [ 'v[0-9]+.[0-9]+.[0-9]+' ]

jobs:
  validate:
    uses: anthochamp/dev-toolbox/.github/workflows/flutter-validate.yml@8cb92c1cdb4c785d9cacbae1c723df13ff8f628b
  publish:
    needs: validate
    permissions:
      id-token: write
    uses: anthochamp/dev-toolbox/.github/workflows/flutter-lib-publish.yml@8cb92c1cdb4c785d9cacbae1c723df13ff8f628b
