name: Validate & Publish

on:
  push:
    tags: [ 'v[0-9]+.[0-9]+.[0-9]+' ]

jobs:
  validate:
    uses: anthochamp/dev-toolbox/.github/workflows/flutter-validate.yml@797f0b74bbfe4805e811338a4a2e3fe3e1326a8a
  publish:
    needs: validate
    permissions:
      id-token: write
    uses: anthochamp/dev-toolbox/.github/workflows/flutter-lib-publish.yml@797f0b74bbfe4805e811338a4a2e3fe3e1326a8a
